*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Cairo', sans-serif;
  background-color: #F7F9FB;
}

/* ======================================= ANIMATIONS ======================================= */

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform:  translateX(50px);
  }
  to {
    opacity: 1;
    transform:  translateY(0);
  }
}

/* ======================================= HEADER ======================================= */

header{
  position: relative;
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: -1;
}

header .img-container{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 15px 30px;
  padding-right: 15px;
  border-right: 2px solid #64748B;
}

header .img-container h2{
  font-size: 14px;
}

header .img-container p{
  font-size: 12px;
  color: #64748B;
  
}

header img{
  width: 32px;
  height: 32px;
  border-radius: 10px;
  margin-right: 10px ;
}

header i{
  color: #64748B;
  font-size: 24px;
  margin: 0 13px;
}

header i:hover{
  cursor: pointer;
  border: 1px solid darkgray;
}

header input{
  width: 50%;
  height: 40px;
  padding-left: 5px;
}

header input::placeholder{
  font-size: 14px;
  color: #6b7280;
}

/* ======================================= SIDEBAR ======================================= */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  background-color: #d9d9d9;
  height: 100vh;
  padding: 20px 0;
}

.sidebar h2{
  font-size: 22px;
  margin-right: 15px;
  margin-bottom: 40px;
  color: #0D1C32;
}

.sidebar i{
  font-size: 18px;
  margin-left: 15px;
  width: 25px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 0;
}
.sidebar a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 15px 20px;
  color: #64748B;
}

.sidebar a.active{
  background-color: #F8FAFC;
  border-right: 3px solid #0F172A;
  font-weight: 700;
  color: #0F172A;
}

.sidebar li:hover{
  background-color: #0F172A;
}

/* ======================================= GENERAL STYLES ======================================= */

.home,
.ads,
.users,
.restaurants,
.drivers,
.promo-codes{
  /* width: 100%; */
  animation: slideRight 1s ease  forwards;
  margin-right: 300px;
  margin-top: 30px;
  position: relative;
}

.section-title-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.section-title{
  color: #0F172A;
}

.section-topic{
  color: #76849F;
  font-size: 14px;
}

.activity-summary{
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* grid-template-rows: 1fr 1fr; */
  gap: 25px;
  margin-block: 30px;
}

.activity-summary .box
{
  width: 215px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
  padding: 20px;
}

.activity-summary .box .text{
  color: #64748B;
  font-size: 14px;
}

.activity-summary .box .number{
  font-size: 24px;
  font-weight: 600;
  line-height: 33.6px;
}

.table-body{
  width: 100%;
  border-collapse: collapse;
  /* border-radius: 30px; */
}

.table-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px;
  color: #76849F;
}

.table-footer button{
  width: 50px;
  height: 25px;
  margin: 0 5px;
  border: 1px solid #E2E8F0;
}

.add-new-btn,
.password-reset,
.restaurants .table-header button{
  width: 140px;
  height: 40px;
  background-color: #0D1C32;
  color: #fff;
  box-shadow: 0px 1px 2px black;
  border: 1px solid #75777E;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
}

/* ======================================= HOME PAGE ======================================= */

.home .activity-summary .box div,
.drivers .activity-summary .box div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .activity-summary .box i{
  width: 30px;
  height: 30px;
  font-size: 26px;
  margin: 0 0 15px 15px;
  text-align: center;
}

.home .box .user-i{
  color: #2563EB;
  background-color: #EFF6FF;
}

.home .box .check-i{
  color: #059669;
  background-color: #ECFDF5;
}

.home .box .utensils-i{
  color: #D97706;
  background-color: #FFFBEB;
}

.home .box .receipt-i{
  color: #4F46E5;
  background-color: #EEF2FF;
}

/* ======================================= ADS PAGE ======================================= */

.ads .activity-summary .box .number{
  font-size: 46px;
  margin-block: 15px;
}

.ads .activity-summary .box span{
  font-size: 13px;
}

.ads .ads-list ,
.users .users-list{
  background-color: #fff;
  padding: 40px 25px;
}

.ads table th,
.users table th,
.restaurants table th{
  height: 45px;
  background-color: #F8FAFC80;
  color: #76849F;
  text-align: right;
  font-size: 16px;
}

.ads table td,
.users table td,
.restaurants table td{
  height: 75px;
  text-align: right;
  border-bottom: 1px solid #F8FAFC;
  color: #0F172A;
}

.ads table td img{
  width: 60px;
  height: 40px;
}


.ads .add-new-ad{
  width: 140px;
  height: 40px;
  background-color: black;
  color: white;
  box-shadow: 0px 1px 2px black;
  border: 1px solid black;
  border-radius: 5px;
}

/* ======================================= USERS PAGE ======================================= */

.users .add-new-user{
  width: 170px;
  font-weight: 700;
}

.users form{
  background-color: #fff;
  width: 100%;
  height: 120px;
  margin: 30px 0px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px
}

.users form div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #64748B;
}

.users form div input{
  width: 500px;
  padding: 10px;
  border-radius: 5px;

}

.users form div select#cityFilter{
  width: 180px;
  padding: 5px;
}

.users form div select#stateFilter{
  width: 140px;
  padding: 5px;
}

.users form input, .users form select{
  height: 50px;
}

.users form .filter-btn{
  width: 110px;
  height: 50px;
  background-color: #F8FAFC;
  border: 1px solid #E2E8F0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 14px;
  color: #475596;
  margin-top: 20px;
  border-radius: 10px;
}

.users table th{
  color: #39475F;
  border-left: 1px solid #F8FAFC;
}


.users table td i,
.restaurants table td i,
.drivers table td i,
.promo-codes table td i{
  font-size: 16px;
  margin: 0 5px;
  color: #94A3B8;
}

.users table td p{
  font-size: 14px;
  margin: 0 5px;
  color: #94A3B8;
}

.users table td img{
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin-left: 10px;

}

.users td .img-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}


/* ======================================= RESTAURANTS PAGE ======================================= */

.restaurants  .password-reset,
.drivers  .password-reset{
  width: 180px;
  background-color: transparent;
  color: #44474D;
}

.restaurants .activity-summary{
  gap:15px;
}

.restaurants .activity-summary .box{
  width: 250px;
  height: 130px;
  box-shadow: 0px 4px 10px #0a192f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurants .activity-summary .box:first-child{
  border-bottom: 2px solid #0D1C32;
}

.restaurants .activity-summary .box:nth-child(2){
  border-bottom: 2px solid #22C55E;
}

.restaurants .activity-summary .box:nth-child(3){
  border-bottom: 2px solid #77592E;
}

.restaurants .activity-summary .box:last-child{
  border-bottom: 2px solid #CBD5E1;
}



.restaurants .activity-summary .box i{
  width: 45px;
  height: 45px;
  font-size: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.restaurants .activity-summary .box p.text{
  color: #44474D;
  font-size: 12px;
}
.restaurants .activity-summary .box p.number{
  color: #191C1E;
  font-size: 24px;
  font-weight: 600;
}

.restaurants .rest-list{
  background-color: #fff;
  position: relative;
  width: 100%;
  padding: 25px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 340px;
  gap: 30px;
}


.restaurants .rest-list  .table-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.restaurants .table-header button{
  width: 70px;
  height: 25px;
  background-color: transparent;
  color: #76849F;
  margin: 0;
}

.restaurants .rest-list h3{
  margin-block: 25px;
  color: #0D1C32;
}

.restaurants table{
  grid-column: 1 / 3;
  grid-row: 2 ;
}

.restaurants table th{
  background-color: #F2F4F6;
  color: #44474D;
  padding: 10px;
}

.restaurants table td{
  padding: 10px;
}

.restaurants table td i{
  color: #191C1E;
  }

.restaurants table td span{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #f1f5f9;
  font-size: 12px;
  font-weight: 700;
  margin: 0 5px;
  color: #0a192f;
  border-radius: 5px;
  border: none;
  text-align: center;
  padding-top: 8px;
}

.restaurants .rest-details{
  background-color: #0A192F05;
  padding: 20px;
  border-radius: 5px;
}

.restaurants .rest-details h3{
  font-size: 16px;
  font-weight: 600;
  color: #191C1E;
  border-right: 4px solid #0D1C32;
  margin-bottom: 20px;
  padding-right: 15px;
}

.restaurants .rest-details p{
  font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.6px;
  margin-block: 15px;
}

.restaurants .rest-details button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #191C1E;
  margin-bottom: 20px;
}

.restaurants .rest-details .btn-group1{
  display: flex;
  align-items: center;
  gap: 10px
}

.restaurants .rest-details .btn-group1 button{
  flex-direction: column;
  justify-content: center;
  height: 70px;
  border: 1px solid #e0e3e0;
  background-color: transparent;
}


.restaurants .rest-details hr{
  border: 1px solid #E0E3E5;
}

.restaurants .rest-details .state-order{
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #F2F4F6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #191C1E;
  font-size: 14px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.restaurants .rest-details .btn-group2{
  display: flex;
  align-items: center;
  gap: 20px
}

.restaurants .rest-details .btn-group2 button{
  justify-content: flex-start;
  height: 40px;
  border: none;
  font-size: 11px;
  background-color: #F2F4F6;
  padding: 15px;
}

.restaurants .rest-details form label,
.restaurants .rest-details form input{
  display: block;
  width: 100%;
}

.restaurants .rest-details form label{
  font-weight: 600;
  font-size: 11px;
  color: #44474D;
  margin-bottom: 10px;
}

.restaurants .rest-details form input{
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.restaurants .rest-details form button{
  height: 40px;
  width: 100%;
  background-color: #0D1C32;
  color: #FFF;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;

}

.restaurants .rest-details .res-img{
  width: 100%;
  padding: 0;
}

.restaurants .rest-details img{
  width: 100%;
}

/* ======================================= DRIVERS PAGE ======================================= */

.drivers .add-new-btn{
  margin-left: 10px;
}

.drivers .activity-summary .box i{
  width: 35px;
  height: 35px;
  font-size: 25px;
  margin: 0 0 15px 15px;
  text-align: center;
  padding-top: 5px;
  border-radius: 5px;
}

.drivers .activity-summary .box{
  width: 190px;
}

.drivers .activity-summary {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 30px;
}

.drivers .driver-report{
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 30px;
  margin-bottom: 30px;
}

.drivers .driver-report .current-driver-div{
  background-color: #0D1C32;
  border-radius: 10px;
  padding: 30px;
  height: 240px;
}

.drivers .driver-report .current-driver-div > p{
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #76849F;
  margin-bottom: 15px;
}

.drivers .current-driver-div .photo-box{
  display: flex;
  align-items: center;
  gap: 25px;
  color: #fff;
}

.drivers .current-driver-div .photo-box img{
  width: 70px;
  height: 70px;
  border-radius: 15px;
  border: 2px solid #FFFFFF33;
}

.drivers .current-driver-div .photo-box p{
  font-size: 32px;
  font-weight: 700;
}

.drivers .current-driver-div .photo-box span{
  font-size: 14px;
  margin-left: 15px;
}

.drivers .current-driver-div button{
  height: 30px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  margin-left: 16px;
  margin-top: 35px;
}

.drivers .current-driver-div .new-request{
  width: 115px;
  background-color: #FFF;
  color: #0D1C32;
  border: none;
}
.drivers .current-driver-div .skip{
  width: 95px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #FFFFFF4D;
}

.drivers .reports{
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.drivers .reports h3{
  font-size: 20px;
  font-weight: 400;
  color: #191C1E;
  margin-bottom: 10px;
}

.drivers .reports p{
  font-size: 14px;
  font-weight: 400;
  color: #44474D;
  margin-bottom: 25px;
}

.drivers .reports button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  border: 1px solid #E2E8F0;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #191C1E;
  background-color: #F2F4F6;
  margin-bottom: 10px;
  padding: 15px;
}

.drivers .table-box,
.promo-codes .table-box{
  background-color: #fff;
  border-radius: 15px;
}

.drivers .table-box label{
  margin-right: 5px;
}

.drivers .filter-bar,
.promo-codes .table-header{
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1px solid #f1f5f9;
}

.drivers .filter-bar input{
  width: 200px;
  height: 45px;
  padding: 5px;
  border: none;
  border-radius: 15px;
  margin-left: 20px;
}

.drivers .filter-bar select{
  width: 150px;
  height: 45px;
  padding: 5px;
  border: none;
  border-radius: 15px;
}

.drivers .filter-bar input[type="checkbox"]{
  width: 20px;
  height: 20px;
  padding: 5px;
  border: none;
  border-radius: 15px;
  margin-left: 10px;
}

.drivers table th, 
.promo-codes table th{
  height: 50px;
  background-color: #0D1C32;
  color: #fff;
  text-align: right;
  padding: 20px;
  font-weight: 500;
}

.drivers table td,
.promo-codes table td{
  height: 80px;
  background-color: #fff;
  color: #0D1C32;
  text-align: right;
  padding: 20px;
}

/* ======================================= PROMO CODE PAGE ======================================= */

.promo-codes .activity-summary{
  gap: 15px;
}

.promo-codes .activity-summary .box
{
  width: 250px;
  height: 110px;

}

.promo-codes .table-header h3{
  font-size: 18px;
  font-weight: 600;
  color: #0a192f;
}

.promo-codes .table-header i{
  font-size: 16px;
  color: #94A3B8;
  margin-left: 10px;
}

.promo-codes .promo-analysis{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  padding: 15px 0;
}

.promo-codes .analysis{
  width: 50%;
  height: 250px;
  padding: 25px;
  background-image: url(../src/assets/promo-code-image.png);
  background-size: cover;
  color: #E2E8F0;
  font-size: 14px;
  border-radius: 20px;
}

.promo-codes  p.title{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 60px;
  color:#fff;
}

.promo-codes .analysis button{
  width: 110px;
  height: 40px;
  color: white;
  border: 1px solid #FFFFFF33;
  border-radius: 10px; 
  box-shadow: 0 4px 6px #ffffff20; 
  font-family: sans-serif;
  cursor: pointer;
  background: #FFFFFF1A;
  backdrop-filter: blur(12px);
  transition: 0.3s ease;
  margin-top: 15px;
}

.promo-codes .promo-advice{
  height: 300px;
  background-color: #fff;
  padding: 25px;
  box-shadow: 4px 0px 32px 0px #0A192F0F;
  border: 1px solid #f1f5f9;
  color: #475569;
  font-size: 14px;
  border-radius: 20px;
}

.promo-codes .promo-advice .icon{
  width: 50px;
  height: 50px;
  background: #77592E1A;
  color: #77592E;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.promo-codes .promo-advice p.title{
  color: #0A192F;
  margin-top: 15px;
}

.promo-codes .promo-advice .img-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}

.promo-codes .promo-advice .img-container img{
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin-left: 10px;

}



